.dark-medium-contrast {
  --md-sys-color-primary: rgb(178 234 179);
  --md-sys-color-surface-tint: rgb(157 212 158);
  --md-sys-color-on-primary: rgb(0 45 13);
  --md-sys-color-primary-container: rgb(104 157 108);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(206 226 202);
  --md-sys-color-on-secondary: rgb(25 41 26);
  --md-sys-color-secondary-container: rgb(131 150 129);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(183 228 236);
  --md-sys-color-on-tertiary: rgb(0 42 48);
  --md-sys-color-tertiary-container: rgb(108 152 160);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(16 21 16);
  --md-sys-color-on-background: rgb(224 228 219);
  --md-sys-color-surface: rgb(16 21 16);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(66 73 64);
  --md-sys-color-on-surface-variant: rgb(215 222 211);
  --md-sys-color-outline: rgb(173 180 169);
  --md-sys-color-outline-variant: rgb(139 146 136);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(224 228 219);
  --md-sys-color-inverse-on-surface: rgb(39 43 38);
  --md-sys-color-inverse-primary: rgb(31 82 41);
  --md-sys-color-primary-fixed: rgb(184 241 185);
  --md-sys-color-on-primary-fixed: rgb(0 21 4);
  --md-sys-color-primary-fixed-dim: rgb(157 212 158);
  --md-sys-color-on-primary-fixed-variant: rgb(9 63 24);
  --md-sys-color-secondary-fixed: rgb(212 232 208);
  --md-sys-color-on-secondary-fixed: rgb(5 20 7);
  --md-sys-color-secondary-fixed-dim: rgb(184 204 181);
  --md-sys-color-on-secondary-fixed-variant: rgb(42 58 42);
  --md-sys-color-tertiary-fixed: rgb(189 234 243);
  --md-sys-color-on-tertiary-fixed: rgb(0 20 23);
  --md-sys-color-tertiary-fixed-dim: rgb(161 206 214);
  --md-sys-color-on-tertiary-fixed-variant: rgb(8 60 67);
  --md-sys-color-surface-dim: rgb(16 21 16);
  --md-sys-color-surface-bright: rgb(65 70 64);
  --md-sys-color-surface-container-lowest: rgb(5 8 5);
  --md-sys-color-surface-container-low: rgb(26 31 26);
  --md-sys-color-surface-container: rgb(36 41 36);
  --md-sys-color-surface-container-high: rgb(47 52 46);
  --md-sys-color-surface-container-highest: rgb(58 63 57);
}
