@inherits LayoutComponentBase

<CascadingAuthenticationState>
    <div class="page">
        <NavBar />
        
        <main class="main-content">
            @Body
        </main>
    </div>
</CascadingAuthenticationState>